---
import ArrowCard from "@components/ArrowCard.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { HOME, SITE } from "@consts";
import Layout from "@layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const publications: CollectionEntry<"publications">[] = (
  await getCollection("publications")
)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PUBLICATIONS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="animate font-semibold text-black dark:text-white">
        Number One Rich
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span class="animate">
              <p>
                Number One Rich is an 8-player strategy game.Decide the number
                of steps you take by throwing dice. You can buy land and build
                buildings where you stay, and you must pay rent when passing
                other players' land. Bankrupt other players to get the first
                place.
              </p>
            </span>
            <!-- <span class="animate">
              <p>
                Micro Academics still comes with everything great about Micro
                and Nano — full type safety, a sitemap, an RSS feed, and
                Markdown + MDX support. Styled with TailwindCSS and
                preconfigured with system, light, and dark themes.
              </p>
              <p>
                Visit
                <Link href="https://github.com/jingwu2121/astro-micro-academic">
                  Astro Micro Academics on GitHub
                </Link>
                to fork the repository to get started.
              </p>
            </span> -->
          </article>
        </section>
        <div class="flex items-center justify-center">
          <a
            href="https://store.steampowered.com/app/1455130"
            target={"_blank"}
            class="mx-2 rounded-full bg-orange-300 px-3 py-2 transition-colors duration-300 ease-in-out hover:bg-cyan-200 dark:bg-orange-500 dark:hover:bg-cyan-500"
          >
            STEAM
          </a>
        </div>
        
        <!--
          <section
          class="animate space-y-2 border-2 border-dashed border-red-800 p-2 text-red-800 dark:border-red-400 dark:text-red-400"
        >
          📢📢 Your important Information (Open for job/Recruiting students)
        </section> -->

        <!-- <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">News</h2>
          </div>
          <ul
            class="not-prose scroll_bar flex max-h-[150px] flex-col gap-4 overflow-y-auto"
          >
            <li>[06/2024]: Your News1</li>
            <li>[06/2024]: Your <span class="text-red-600">News2</span></li>
            <li>[06/2024]: Your <span class="text-red-600">News2</span></li>
            <li>[06/2024]: Your <span class="text-red-600">News2</span></li>
            <li>[06/2024]: Your <span class="text-red-600">News2</span></li>
          </ul>
        </section> -->

        <!-- <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Recent research
            </h2>
            <Link href="/publications"> See all research </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              publications.map((publication) => (
                <li>
                  <PublicationCard entry={publication} />
                </li>
              ))
            }
          </ul>
        </section> -->

        <!-- <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              最新文章
            </h2>
            <Link href="/blog"> 查看所有帖子 </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section> -->
      </div>
    </aside>
  </Container>
</Layout>
